/* --------------------------------- */
/* ----- 基本設定 -----*/
/* --------------------------------- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@media (max-width: 1200px) {
    html {
      font-size: 90%;
    }
}
  
@media (max-width: 645px) {
    html {
      font-size: 80%;
    }
}

html {
    font-size: 20px;
    font-family: 'Goldman', cursive;
    box-sizing: border-box;
    color: #3D3D39;
    background-color: #fdf9f2;
    font-weight: 100;
}

.main_background {
    background-image: url(./images/circle.png), url(./images/circle.png), url(./images/circle.png);
	background-position: left -10% top -5%, right -30% top 30%, left 50% bottom -20%;
	background-size: 70vw auto, 40vw auto, 100vw auto;
	background-repeat: no-repeat, no-repeat, no-repeat;
}

.profile_background {
    background-image: url(./images/circle.png), url(./images/circle.png);
	background-position: right -10% top -70%, left 0% bottom -50%;
	background-size: 70vw auto, 60vw auto;
	background-repeat: no-repeat, no-repeat;
}

img {
    display: block;
    max-inline-size: 100%;
    object-fit: contain;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-left: 3rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: color 0.2s ease;
}

a:hover {
    color: #D1C6B5;
}

.arrow {
	position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 0.1em;
    height: 1em;
    background: currentColor;
    top: 0.4em;
}

.arrow::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(-45deg);
    transform-origin: top right;
    position: absolute;
    top: -0.05em;
    right: 50%;
    box-sizing: border-box;
}

.arrow:hover:before {
    color: #D1C6B5;
}

/* --------------------------------- */
/* ----- テキスト -----*/
/* --------------------------------- */

h1 {
    font-family: 'Gloock', serif;
    font-size: 3rem;
    font-weight: 500;
}

h2 {
    font-family: 'Gloock', serif;
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 3rem;
}

h4 {
    padding-bottom: 1rem;
    font-size: 23px;
    height: 3rem;
}

.jp, .en_Gothic {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 400;
}

.en {
    font-family: 'Raleway', sans-serif;
}

/* --------------------------------- */
/* ----- レイアウト -----*/
/* --------------------------------- */
section {
    padding: 10rem;
}

.top {
    padding: 10rem 5rem;
}

.container {
}

/* --------------------------------- */
/* ----- ヘッダー -----*/
/* --------------------------------- */
header {
    padding-top: 2rem;
    padding-right: 5rem;
}

header ul {
    justify-content: end;
}

/* --------------------------------- */
/* ----- top -----*/
/* --------------------------------- */
h1 span {
    font-family: 'Goldman', cursive;
    font-size: 0.8rem;
    vertical-align: text-top;
    padding-left: 5px;
}

.top_title {
    line-height: 1.4;
}

.top_title p {
    font-size: 1.5rem;
}

.lang_btn {
    display: flex;
    justify-content: end;
}

.jp_btn, .en_btn {
    margin: 0 5px;
    transition: color 0.2s ease;
}

.jp_btn:hover, .en_btn:hover {
    cursor: pointer;
    color: #D1C6B5;
}

/* --------------------------------- */
/* ----- about -----*/
/* --------------------------------- */
.about_content {
    display: flex;
    line-height: 2;
}

.prof_img {
    width: 20vw;
    margin-left: auto;
    margin-right: 0;
}

.about_textbox, .about_img {
    width: 50%;
}

.about_textbox {
    height: 250px;
}

.about_textbox a {
    text-align: right;
    display: block;
}

/* --------------------------------- */
/* ----- skill -----*/
/* --------------------------------- */
.skill_content {
    display: flex;
    justify-content: space-between;
}

.skill_content {
    display: flex;
    justify-content: space-between;
}

.skill_detail {
    width: 45%;
}

.skill_box {
    width: 20%;
}

.skill_content ul {
    display: block;
}

.skill_content li {
    margin-left: 0;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 5px solid #E5E5E5;
}

.skill_content li:not(:first-child) {
    padding-top: 30px;
}
.skill_content li::before {
    content: '';
    position: absolute;
    bottom: -5px;
    height: 5px;
    background: #1B7AEA;
}

#html::before {
    width: 80%;
}

#css::before {
    width: 70%;
}

#javascript::before {
    width: 50%;
}

#ant::before {
    width: 40%;
}

#scss::before {
    width: 60%;
}

#bootstrap::before {
    width: 30%
}

#javascript::before {
    width: 70%;
}

#vue::before {
    width: 50%;
}

#git::before {
    width: 70%
}

#vscode::before {
    width: 90%;
}

#figma::before {
    width: 40%;
}

/* --------------------------------- */
/* ----- works -----*/
/* --------------------------------- */
.poster_content img {
    width: 30%;
}

.works_content {
    display: block;
}

.works_content li {
    display: flex;
    margin: 0 0 70px 0;
}

.works_content li:not(:first-child):not(:last-child) {
    margin: 10rem 0;
}

.work_img {
    border: 1px solid #E5E5E5;
}

.work_detail {
    display: block;
    margin-left: 8rem;
}

.work_detail a {
    display: flex;;
}

.work_detail h4 {
    padding-right: 1em;
}

.work_img {
    width: 40vw;
}

.work_description {
    margin-top: 4em;
    font-size: 18px;
    line-height: 2;
}

.diagonal {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

/* --------------------------------- */
/* ----- contact -----*/
/* --------------------------------- */
address {
    font-style: normal;
    font-size: 25px;
}

.back_to_top {
    text-align: center;
    width: 109px;
    margin-right: 0;
    margin-left: auto;
    cursor: pointer;
    font-size: 18px;
}

.back_to_top .arrow {
    transition: color 0.2s ease;
}

.back_to_top:hover {
    color: #D1C6B5;
}

.back_to_top p {
    padding-top: 1em;
}

/* --------------------------------- */
/* ----- フッター -----*/
/* --------------------------------- */
footer {
    padding-bottom: 1rem;
}

footer ul {
    justify-content: center;
}

.copyright {
    color: #fdf9f2;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}


/* --------------------------------- */
/* ----- career -----*/
/* --------------------------------- */
.career_content {
    display: flex;
}

.career_content ul {
    display: block;
}

.career_content li {
    height: 5em;
}